*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

.container__h1{
    font-size: 5rem;
}

.container__inputs{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}   

.container__input{
    height: 3rem;
    width: 30rem;
    border-radius: 5px;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.container__input:focus{
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn{
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 5px;
}

.btn:hover{
    cursor: pointer;
    background-color: transparent;
}

.container__ul{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.container__ul li{
    font-size: 1.5rem;
    font-weight: 600;
}

